*{
    box-sizing: border-box;
}
body{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #EAC926;
    font-size: 12px;
    font-weight: bold;
    color: #03264C;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
header section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.logo{
    width: 50%;
    padding: 2px;
    margin: auto;
}

header form{
    width: 50%;
    height: 30%;
   padding: 2px;
   margin: auto;
   display: flex;
   justify-content: center;
}

form input{
    border: 2px #03264C solid;
    border-radius: 7%;
    padding: 2px;
    box-sizing: border-box;
}

header p {
    width: 100%;
    margin: auto;
    padding: 1%;
    text-align: center;
}
.search-bar input{
    border-radius: 5px 0 0 5px;
    width: 80%;
    border: none;
}
header section button{
    border-radius: 0 5px 5px 0;
    background-color: white;
    border: none;
}

nav{
    display: none;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0%;
}

nav ul li a{
    color: #03264C;
    text-decoration: none;
}

.colapsed_menu{
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 1%;
} 

.colapsed_menu div{
    color: white;
    background-color: #1259c3;
    font-size: 180%;
    width: 9%;
    text-align: center;
    border: 2px #03264C solid;
    border-radius: 15%;
    margin: auto;
    box-sizing: border-box;
}

.home_banner{
    width: 100%;
    margin:auto;
}

main{
    margin: auto;
    width: 100vw;
    background-color: #D3CFCE;
}

main h3{
    display: flex;
    font-family: sans-serif;
    font-weight:550;
    color: rgb(88, 88, 88);
    padding: 5px;
}

main section {
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

main section article{
    background-color: white;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

main section article div{
    width: 100%;
    background-color:white;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    position: relative;
} 

.last-session img{
    width: 100%;
    margin: auto;
}
.fa-solid{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height:30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.price{
    font-weight: bold;
    margin: 1% 0 1% 2%;
    width: 30%;
}
.discount{
    color: green;
    margin: 1% 0 1% 2%;
    width: 60%;
}
.product_name{
    color:#666;
    width: 60%;
    text-align: center;
    display: none;
}

.offers{
    margin-top: 5%;
    margin: auto;
    padding-bottom: 3%;
}

.offers img{
    width: 100%;
    margin: auto;
}

footer{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color: #666;
    margin-top: 2%;
}

footer p {
    margin-top: 1%;
}

#icon{
    color: #1259c3;
    font-size: 180%;
    margin: 1%;
}

footer h3{
    font-size: 16px;
    font-weight: 550;
    padding: 0;
    margin: 1%;
}

.copyright{
    background-color:#EAC926; 
    padding: 2%;
    margin-top:3%;
}

@media (min-width: 369px) {
    header section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header section p {
        width: 100%;
        align-self: center ;
        text-align: center;
    }
    .search-bar{
        align-self: center ;   
    }
    nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .nav_bar{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .login_bar{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .colapsed_menu{
        display: none;
    } 
    .last-session{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main h3{
        width: 100%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
    }
    main section article{
        width: 40%;
        border: 2px solid red ;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        /* box-shadow: 0px, 0px, 10px rgb(100, 100, 100); */
    }
    .product_name{
        display: contents;
    }
}


@media (min-width: 769px){
    header section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header section p {
        width: 100%;
        align-self: center ;
        text-align: center;
    }
    .search-bar{
        width: 50%;
        align-self: flex-start ; 
        justify-content: center;  
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .nav_bar{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .login_bar{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .colapsed_menu{
        display: none;
    } 
    .last-session{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main h3{
        width: 100%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
    }
    main section article{
        width: 20%;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        /* box-shadow: 0px, 0px, 10px rgb(100, 100, 100); */
    }
    .product_name{
        display: contents;
    }
    .offers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer article{
        width: 30%;
    }
    footer p {
        width: 100%;
    }
} 
